@font-face {
  font-family: 'ss';
  src: url('https://www.chen-jin.cloudns.be/Fonts/SmileySans-Oblique.ttf.woff2');
}
body {
  background-color: black;
  font-family: 'ss';
  color: white;
}
.s {
  color: white;
  font-size: 20px;
}
.b {
  color: white;
  font-size: 20px;
}
.s a {
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
}
.s a:hover {
  color: gray;
}
.b {
  position: absolute;
  text-align: right;
  bottom: 0px; 
  right: 0px;
}
.b a {
  text-decoration: none;
  transition-duration: 0.3s;
}
.b a:hover {
  color: gray;
}
